@import "../../variables";

:host {
    display:block;
    margin:10px auto;
    width:90%;
    height:auto;

    form {
        @include flex-standard;
        width:100%;

        .input-group {
            flex:1 0 100%;

            .custom-file {
                height:30px;
                border-radius:0px;
                input {
                    line-height:30px;
                    height:30px;
                }
                label {
                    text-align:center;
                    border-radius:0px;
                    font-size:80%;
                    color:#aaa;
                    border-bottom: none;
                    @include innershadow;

                    &:after {
                        display:none;
                    }
                }
            }
        }

        .input-group-append {
            flex: 1 0 100%;
            margin:3px auto;

            button {
                border-radius:0px;
                border:1px solid lightgrey;
                line-height:30px;
                height:30px;
                padding:0;
                color:lightgrey;
                font-size:80%;
                background:rgba(0,0,0,0.35);

                &:hover {
                    cursor:default;
                }
            }

            &.active {
                button {
                color:$brandorange;
                border:1px solid $brandorange;
                background:rgba(255,148,77,0.35);

                &:hover { 
                    cursor:pointer;
                    background:rgba(255,148,77,0.55);
                }
                }
            }
        }
    }
}