<div id="sider">
    <div class="button-grp">
        <button class="csv" (click)="downloadBom('unfiltered')"><p>Download Full XLSX</p></button>
        <!-- <button class="pdf" (click)="downloadFullPDF()"><p>Download Full PDF</p></button> -->
        <button class="csv" (click)="downloadBom('filtered')"><p>Download filtered XLSX</p></button>
        <!-- <button class="pdf" (click)="downloadprocPDF()"><p>Download filtered PDF</p></button> -->
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <th scope="row">Project</th>
        <th colspan="4" class="project-name">{{metaData.project}}</th>
    </thead>
    <tr>
        <th scope="row">Current</th>
        <td colspan="4">MASTER-{{metaData$.current}}</td>
    </tr>
    <tr>
        <th scope="row">Previous</th>
        <td colspan="4">MASTER-{{metaData$.last}}</td>
    </tr>
    <tr class="vert" scope="row">
        <div class="wrp">
            <div class="cat"><div class="post green">Added</div><div class="pre">{{metaData$.changes.added}}</div></div>  
            <div class="cat"><div class="post yellow">Moved</div><div class="pre">{{metaData$.changes.moved}}</div></div>   
            <div class="cat"><div class="post blue">Remain</div><div class="pre">{{metaData$.changes.remain}}</div></div>  
            <div class="cat"><div class="post red">Removed</div><div class="pre">{{metaData$.changes.removed}}</div></div>  
            <div class="cat"><div class="post grey">Modified</div><div class="pre">{{metaData$.changes.modified}}</div></div>     
        </div>
    </tr>
</table>
