<div class="dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{meta.id}}</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <th>Project</th>
                    <td>{{meta.project}}</td>
                </tr>
                <tr>
                    <th>File Name</th>
                    <td>{{meta.name}}</td>
                </tr>
                <tr>
                    <th>File Date</th>
                    <td>{{meta.date}}</td>
                </tr>
                <tr>
                    <th>Uploaded</th>
                    <td>{{meta.uploadDate.toString()}}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer center">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="download()">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        </div>
</div>
