<div class="sticky">
    <div id="sider">
        <div class="input-group">
            <label>Select column</label><label>Enter filter</label><label>matches total</label>
            <input type="text" class="form-control cnt" disabled value="{{processedBom ? processedBom.length : '-'}}">
            
            <input class="form-control wrt" type="text" placeholder="filter BOM table" #filter (change)="filterBom(filter.value)">
            
            <select class="form-control cat" #filterCol>
                <option *ngFor="let col of cols" value="{{col}}">{{col}}</option>
            </select>
        </div>
    </div>

    <table class="table table-sm" id="BOM">
        <thead class="thead-dark">
            <th (click)="addSort('status', $event)" scope="col">Status</th>
            <th (click)="addSort('Station', $event)" scope="col">Station</th>
            <th (click)="addSort('Material', $event)" scope="col">Part#</th>
            <th (click)="addSort('Objektkurztext', $event)" scope="col">Part</th>
            <th (click)="addSort('ME', $event)" scope="col">Unit</th>
            <th (click)="addSort('Menge', $event)" scope="col">Quantity</th>
            <th (click)="addSort('change', $event)" scope="col">Change</th>
        </thead>
        <ng-container *ngFor="let item of processedBom">
            <tr class="{{item.status}}">
                <th>
                    <span [ngSwitch]="item.status">
                    <span *ngSwitchCase="'movedFrom'">
                        Moved <strong style="font-weight: 400">from: {{item.moved}}</strong>
                    </span>
                    <span *ngSwitchCase="'movedTo'">
                        Moved <strong style="font-weight: 400">to: {{item.moved}}</strong>
                    </span>
                    <span *ngSwitchDefault>
                        {{item.status}}
                    </span>
                    </span>
                </th>
                <td>{{item.Station}}</td>
                <td>{{item.Material}}</td>
                <td>{{item.Objektkurztext}}</td>
                <td>{{item.ME}}</td>
                <td>{{item.Menge}}</td>
                <td>{{item.change}}</td>
            </tr>
        </ng-container>           
    </table>
</div>
