<div class="sticky">
    <div id="sider">
        <div class="input-group">
            <label>Select column</label><label>Enter filter</label><label>matches total</label>
            <input type="text" class="form-control cnt" disabled value="{{processedBom ? processedBom.length : '-'}}">
            
            <input class="form-control wrt" type="text" placeholder="filter BOM table" #filter (change)="filterBom(filter.value)">
            
            <select id="filter" class="form-control cat" #filterCol>
                <ng-container *ngFor="let col of cols">
                    <option *ngIf="col.name" value="{{col.value}}">{{col.name}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div id="sider" class="borderless">
        <div class="button-grp">
            <button class="csv" (click)="downloadBom('unfiltered')"><p>Download Full XLSX</p></button>
            <!-- <button class="pdf" (click)="downloadFullPDF()"><p>Download Full PDF</p></button> -->
            <button class="csv" (click)="downloadBom('filtered')"><p>Download filtered XLSX</p></button>
            <!-- <button class="pdf" (click)="downloadprocPDF()"><p>Download filtered PDF</p></button> -->
        </div>
    </div>


    <table class="table table-sm" id="BOM">
        <thead class="thead-dark">
            <th (click)="addSort('Status', $event)" scope="col">Status</th>
            <th (click)="addSort('Location', $event)" scope="col">Location</th>
            <th (click)="addSort('Part', $event)" scope="col">Part</th>
            <th (click)="addSort('Description', $event)" scope="col">Description</th>
            <th (click)="addSort('Unit', $event)" scope="col">Unit</th>
            <th (click)="addSort('Quantity Total', $event)" scope="col">Quantity</th>
            <th (click)="addSort('Change', $event)" scope="col">Change</th>
        </thead>
        <ng-container *ngFor="let item of processedBom">
            <tr class="{{item.Status}}">
                <th>
                    <span [ngSwitch]="item.Status">
                    <span *ngSwitchCase="'movedFrom'">
                        Moved <strong style="font-weight: 400">from: {{item.moved}}</strong>
                    </span>
                    <span *ngSwitchCase="'movedTo'">
                        Moved <strong style="font-weight: 400">to: {{item.moved}}</strong>
                    </span>
                    <span *ngSwitchDefault>
                        {{item.Status}}
                    </span>
                    </span>
                </th>
                <td>{{item.Location}}</td>
                <td>{{item.Part}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.Unit}}</td>
                <td>{{item['Quantity Total']}}</td>
                <td>{{item.Change}}</td>
            </tr>
        </ng-container>           
    </table>
</div>
