@import "../../../variables";

:host {

    .sticky {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    #sider {
        display:block;
        flex-basis:50%;
        height:70px;
        margin:5px auto;
        border:1px solid #222;

        &.borderless {
            border:none;
        }

        .input-group {
            @include flex-standard;
            align-items:center;
            height:50px;
            margin:5px auto;
            width:calc(100% - 20px);

            label {
                order:1;
                text-align:left;
                height:10px;
                color:#888;
                font-size:60%;
                margin:2px 0px;

                &:nth-child(odd) {
                    flex:0 0 25%;
                }

                &:nth-child(even) {
                    flex:0 0 50%;
                }
            }

            .cnt {
                flex:0 0 25%;
                order:4;
                height:30px;
                line-height:30px;
                font-size:75%;
                border:1px solid #222;
                text-align:center;
                background:#222;
                color:whitesmoke;
                border-radius:0px;
            }

            .wrt {
                order:3;
                flex:1 0 50%;
                text-align:left;
                height:30px;
                line-height:30px;
                border-top:1px solid #222;
                border-bottom:1px solid #222;
                background:transparent;
                font-size:75%;
                @include innershadow;                
                border-radius:0px;
            }

            .cat {
                order:2;
                flex:0 0 25%;
                text-align:left;
                height:30px;
                line-height:30px;
                border-top:1px solid #222;
                border-bottom:1px solid #222;
                border-left:1px solid #222;
                font-size:75%;
                background:transparent;
                @include innershadow;                
                border-radius:0px;

                select {}
            }
        }

        .button-grp {
            @include flex-standard;
            justify-content:flex-start;
            width:100%;
            margin-left:5px;

            button {
                position:relative;
                flex: 0 0 24.5%;
                max-width:80px;
                margin:2.5px 0.25%;
                height:65px;
                font-size:70%;
                color:whitesmoke;
                background-color:$darkbrandblue;
                border:none;
                outline:none;
                mix-blend-mode: color;

                p {
                    position:absolute;
                    bottom:0;
                    left:0;
                    padding:3px;
                    margin:0;
                    opacity:0.75;
                    font-size:87%;
                }

                &.csv:after {
                    content:'';
                    @include absolute-full;
                    background:url("../../../assets/img/csvdl2.png");
                    background-position:50% 20%;
                    background-size:30%;
                    background-repeat:no-repeat;
                    filter:invert(1);
                    opacity:0.25;
                    z-index:-1;
                }

                &.pdf:after {
                    content:'';
                    @include absolute-full;
                    background:url("../../../assets/img/pdfdl.png");
                    background-position:50% 20%;
                    background-size:30%;
                    background-repeat:no-repeat;               
                    filter:invert(1);
                    opacity:0.25;
                    z-index:-1;
                }
            }
        }

    }

    #BOM {
        flex:1 0 100%;

        thead {
            padding:0px;
            margin:0px;
            height:40px;
            line-height:40px;
            border-bottom:2px solid #222;
            background:$darkpaper;

            th {
                position:relative;
                text-align:center;
                padding:0px 10px;
                background:transparent;
                font-weight:400;
                color:whitesmoke;
                font-size:90%;
                z-index:1;

                &.filter:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.6;
                    z-index:-1;
                }

                &.filter2:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.35;
                    z-index:-1;
                }

                &.filter3:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.1;
                    z-index:-1; 
                }

                &.filter:after {
                    content: "1";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }

                &.filter2:after {
                    content: "2";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }

                &.filter3:after {
                    content: "3";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }
            }

        }

        tr {
            padding:5px 10px;
            border-bottom:2px solid #eee;
            background:#f8f8f8;
            text-align:center;
            th {
                position:relative;
                span {
                    color:whitesmoke;
                    font-size:90%;
                    font-weight:400;
                }
            }
            td {
                font-size:80%;
                font-weight:300;
                color:#444;
            }

            &.movedFrom, &.movedTo {
                th {
                    background:$yellowpaper;
                    span {
                        strong {
                            display:block;
                            margin:3px auto;
                            padding:3px;
                            font-size:80%;
                            font-weight:300;
                            color:#222;
                            @include innershadow;
                        }
                    }
                }
            }

            &.obsolete {
                @include innershadow;
                color:#222;
            }

            &.modified {
                th {
                    background:$darkpaper;
                }
            }

            &.remain {
                th {
                    background:$brightbluepaper;
                }}
            &.removed {
                th {
                    background:$redpaper;
                }}
            &.added {
                th {
                    color:#222;
                    background:$greenpaper;
                }}

            &:hover {
                transform:scale(1.01);
                background:white;
                cursor:pointer;
                transition:0.1s;
            }
        }
    }
}