<div class="btn-group functions">
    <div id="sider">
        <div class="input-group">
            <label>Select column</label><label>Enter filter</label><label>matches total</label>
            <input type="text" class="form-control cnt" disabled value="{{processedBom ? processedBom.length : '-'}}">
            
            <input class="form-control wrt" type="text" placeholder="filter BOM table" #filter (change)="filterBom(filter.value)">
            
            <select class="form-control cat" #filterCol>
                <option *ngFor="let col of cols" value="{{col}}">{{col}}</option>
            </select>
        </div>
    </div>
    <div id="sider" class="borderless">
        <div class="button-grp">
            <button class="csv" (click)="downloadBom()"><p>Download Full XLSX</p></button>
            <!-- <button class="pdf" (click)="downloadFullPDF()"><p>Download Full PDF</p></button> -->
            <button class="csv" (click)="downloadBom('filtered')"><p>Download filtered XLSX</p></button>
            <!-- <button class="pdf" (click)="downloadprocPDF()"><p>Download filtered PDF</p></button> -->
        </div>
    </div>
</div>
<table class="table table-sm" id="BOM">
    <thead class="thead-dark">
        <th (click)="addSort('Station', $event)" scope="col">Station</th>
        <th (click)="addSort('Material', $event)" scope="col">Part#</th>
        <th (click)="addSort('Objektkurztext', $event)" scope="col">Part</th>
        <th (click)="addSort('ME', $event)" scope="col">Unit</th>
        <th scope="col">Projects</th>
        <th (click)="addSort('Menge', $event)" scope="col">Quantity</th>
    </thead>
    <ng-container *ngFor="let item of processedBom">
      <tr>
        <td [ngStyle]="{'background': colors[item.Station]}" class="station">{{item.Station}}</td>
        <td>{{item.Material}}</td>
        <td>{{item.Objektkurztext}}</td>
        <td>{{item.ME}}</td>
        <td>{{item.lists.join(', ')}}
          <select>
            <option *ngFor="let proj of bomProjects"></option>
          </select>
        </td>
        <td>{{item.Menge | roundDecimals}}</td>
      </tr>
    </ng-container>    
</table>
