<form class="list">
    <div id="getList" class="input-group mb-3">
        <!-- <input #id type="text" class="form-control" placeholder="FIle ID (e.g. 072019)" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
          <input #id class="form-control" type="month" value="2019-08" >
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="onGetList(id.value)">Get List</button>
            <button class="btn btn-outline-secondary" type="button" (click)="onDeleteList(id.value)">Delete List</button>
        </div>
    </div>
    <div class="input-group mb-3" id="getAllLists">
        <button class="btn btn-outline-secondary" type="button" (click)="onGetAllLists()">Get All</button>
    </div>
</form>