<div id="menu">
        <ul routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/app/projects']" [routerLinkActive]="'act'">Projects</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/app/master']" [routerLinkActive]="'act'">Master Lists</a></li>
                <!--<li class="nav-item"><a class="nav-link" routerLink="#">Archived Projects</a></li>-->
                <li class="nav-item"><a class="nav-link" (click)="uploadMatrixDialog()">Upload Matrix</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/app/settings']" [routerLinkActive]="'act'">Settings</a></li>
                <!--<li class="nav-item"><a class="nav-link loglink" [routerLink]="['/app/login']">{{switch}}</a></li>-->
        </ul>
        <div id="logdata">
                <div class="wrapper">
                        <p>You're logged in as</p>
                        <div id="userdiv">
                                <!--<img *ngIf="!0 | role : true" id="usericon" src="../assets/img/icon_key.png">-->
                                <img *ngIf="0 | role : true;else non_overlord" id="usericon_main" src="../assets/img/overlord_icon.png">
                                <ng-template #non_overlord><img id="usericon" src="../assets/img/icon_key.png"></ng-template>
                                <a href="#">{{activeUser}}</a>
                        </div>
                </div>
                <button class="nav-item loglink"><a class="nav-link" (click)="logOut()">Log Out</a></button>
        </div>
</div>
