@import "../../variables";


.modal-header {
    button {
        position:relative;
        padding:0;
        width:20px;
        height:20px;
        margin:10px 10px 10px auto;
        opacity:1 !important;
        background:url("../../assets/img/close2.png");
        transition:0.2s;
    }
}

.modal-content {
    .modal-footer {
        justify-content:flex-end !important;
    }
}
.modal-footer {
    justify-content: space-between;
    .submit {
        button {
            margin-right:4px;
            &:last-child {
                margin-right:0;
            }
        }
    }

    &.center {
        justify-content: flex-end;
    }
}