.modal-footer {
    justify-content: space-between;
    .submit {
        button {
            margin-right:4px;
            &:last-child {
                margin-right:0;
            }
        }
    }
}