nav {
    .navbar-nav {
        display:flex;
        width: 100%;
        flex-direction: row;

        a {
            flex: 0 1 8%;
        }
    }
}

form {
    flex: 0 1 25%;

    label {
        display:block;
    }
}