<!--The content below is only a placeholder and can be replaced.-->
<div class="content container-fluid" style="padding-top:15px;">
  <h2 class="page-title">
    {{ title }}
  </h2>
</div>

<!-- <nav class="navbar">
  <div class="navbar-nav">
    <a class="nav-item nav-link" [routerLink]="'/lists'">Lists</a>
    <a class="nav-item nav-link" [routerLink]="'/list'">List</a>
  </div>
</nav> -->

<div class="content container-fluid">
  <div class="tools d-flex flex-row bd-highlight mb-3">
    <router-outlet class="component"></router-outlet>
  </div>
  <div class="tools d-flex flex-row bd-highlight mb-3">
    <app-query-form class="component"></app-query-form>
  </div>
  <div class="tools d-flex flex-row bd-highlight mb-3">
      <app-xls-loader class="component"></app-xls-loader>
  </div>
</div>


