:host {
    .page-title {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCC;
    }
}

nav {
    .navbar-nav {
        display:flex;
        width: 100%;
        flex-direction: row;

        a {
            flex: 0 1 8%;
        }
    }
}