@import "../variables";

:host {
    .page-title {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCC;
    }
}

.app-bar {
    @include outershadow;

    .uppr_wrppr {
        @include flex-standard;
        justify-content:space-between;
        height:50px;
        background:$darkbrandblue;

        .ttle {
            order:2;
            line-height:40px;
            margin:5px 10px;
            justify-self:flex-end;

            h2 {
                color:white;
                font-size:100%;
                border:none;
                font-weight:700;
            }
        }

        #logo {
            order:1;
            height:30px;
            margin:10px;
            justify-self:flex-start;
            img {
                height:30px;
                width:auto;
            }
        }
    }

    .lwr_wrppr {
        @include flex-standard;
        height:50px;
        background:$brandblue;
    }
}

nav {
    .navbar-nav {
        display:flex;
        width: 100%;
        flex-direction: row;

        a {
            flex: 0 1 8%;
        }
    }
}

.hidden {
    display:none;
}
.show {
    display:block;
}

#modal-container {
    position:  fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 40vw;
    min-width:300px;
    background: white;
    text-align: center;
    @include outershadow;
    z-index: 1000;
    pointer-events: none;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0, 0, 0, 0.4);
    filter:blur(100px);
    width:  100%;
    height: 100%;
}