<!--The content below is only a placeholder and can be replaced.-->
<div class="app-bar">
  <div class="uppr_wrppr">
      <div class="ttle">
      <h2 class="page-title">
        {{ title }}
      </h2>
    </div>
    <div id ="logo"><img src="../assets/img/Fastenal-Logo_wht.png"/></div>
  </div>
  <div class="lwr_wrppr">
    <app-menu></app-menu>
  </div>
</div>

<div class="app-body">
  <div class="content container-fluid">
    <div class="tools d-flex flex-row bd-highlight mb-3">
      <router-outlet class="component"></router-outlet>
    </div>
   <!-- <div class="tools d-flex flex-row bd-highlight mb-3">
      <app-query-form class="component"></app-query-form>
    </div>
    <div class="tools d-flex flex-row bd-highlight mb-3">
        <app-xls-loader class="component"></app-xls-loader>
    </div> -->
  </div>
</div>

<!-- JUST FOR TESTING -->
<div class="test-container">
  <app-matrix-files></app-matrix-files>
  <app-xls-loader></app-xls-loader>
</div>
<!-- JUST FOR TESTING -->


<!-- Custom modal setup -->
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>

