
<div id="projects-intro">
    <div class="lft-wrppr">
        <div class="header">
            <h2><strong>Fastenal</strong>Bombardier Projects Vienna</h2>
        </div>
        <div class="prjct_cnt"><h3><strong>{{count}}</strong>ongoing projects found</h3></div>
    </div>
    <div class="rght-wrppr">
        <div class="time_cnt">
            {{todayMonth}}
        </div>
    </div>
</div>
<div id="list-projects">
    <ul>
        <li class="nProject">
            <button class="btn btn-success" (click)="openCreateDialog()"><img src="../../assets/img/pls_fat.png"><a>Create New Project</a></button>
        </li>
        <li class="actProject" *ngFor="let project of allProjects">
            <app-project-list-view [project]="project">
            </app-project-list-view>
        </li>

        <ng-container *ngIf="masterId != '0000-00' && upToDate; else elseTemplate">
                <li class="bigRedButton done" #brb>
                        <button class="btn-success" (click)="showBom()">
                            <a>View latest BOM</a>
                        </button>
                    </li>
        </ng-container>
        <ng-template #elseTemplate>
                <li [class]="upToDate ? 'bigRedButton' : 'bigRedButton active'" #brb>
                    <button (click)="bigRedButton()" [disabled]="upToDate ? true : false">
                        <a>Process All BOM Files</a>
                    </button>
                </li>
        </ng-template>
    </ul>
</div>