
<div id="projects-intro">
    <div class="lft-wrppr">
        <div class="header">
            <h2><strong>Fastenal</strong>Bombardier Projects Vienna</h2>
        </div>
        <div class="prjct_cnt"><h3><strong>{{count}}</strong>ongoing projects found</h3></div>
    </div>
    <div class="rght-wrppr">
        <div class="time_cnt">
            {{todayMonth}}
        </div>
    </div>
</div>
<div id="list-projects">
    <ul>
        <li class="nProject">
            <button class="btn btn-success" (click)="openCreateDialog()"><img src="../../assets/img/pls_fat.png"><a>Create New Project</a></button>
        </li>
        <li class="actProject" *ngFor="let project of allProjects">
            <app-project-list-view [project]="project">
            </app-project-list-view>
        </li>

        <li class="bigRedButton" #brb>
            <button (click)="bigRedButton()">
                <a>Process All BOM Files</a>
            </button>
        </li>
    </ul>
</div>