<div id="projects-intro">
    <div class="lft-wrppr">
        <div class="header">
            <h2><strong>Fastenal</strong>Bombardier Projects Vienna</h2>
        </div>
        <div class="prjct_cnt"><h3><strong>{{count}}</strong>ongoing projects found</h3></div>
    </div>
    <div class="rght-wrppr">
        <div class="time_cnt">
            {{todayMonth}}
        </div>
    </div>
</div>

<div id="master-tools">
    <div class="infoarea">
        <div class="textwrap">
            <h3><strong>Latest Master BOM</strong> {{masterId}}</h3>
        </div>
    </div>
    <div class="btnarea">
        <ul>
            <li [class]="upToDate ? 'bigRedButton' : 'bigRedButton active'" #brb>
                <button (click)="bigRedButton()" [disabled]="upToDate ? true : false">Create New Master BOM</button>
            </li>
            <li *ngIf="masterId !== null && masterId !== '0000-00'">
                <button class="view" (click)="showBom()">View latest Master BOM</button>
            </li>
            <li *ngIf="masterId !== null && masterId !== '0000-00'">
                <button class="re" (click)="recalculateMasterBom()">Recalculate latest Master BOM</button>
            </li>
            <li *ngIf="masterId !== null && masterId !== '0000-00'">
                <button class="del" (click)="deleteMasterBom()">Delete latest Master BOM</button>
            </li>
        </ul>
        <!--<ng-container *ngIf="masterId !== null && masterId !== '0000-00' && upToDate; else elseTemplate">
            <li class="bigRedButton done" #brb>
                    <button class="btn-success" (click)="showBom()">
                        <a>View Master BOM</a>
                    </button>
                </li>
        </ng-container>
        <ng-template #elseTemplate>
                <li [class]="upToDate ? 'bigRedButton' : 'bigRedButton active'" #brb>
                    <button (click)="bigRedButton()" [disabled]="upToDate ? true : false">
                        <a>Create New Master BOM from Materiallists</a>
                    </button>
                </li>
        </ng-template>-->
    </div>
</div>

<div id="list-projects" *ngIf="2 | role">
    <ul>
        <li class="nProject">
            <button class="btn btn-success" (click)="openCreateDialog()"><img src="../../assets/img/pls_fat.png"><a>Create New Project</a></button>
        </li>
        <li class="actProject" *ngFor="let project of allProjects">
            <app-project-list-view [project]="project">
            </app-project-list-view>
        </li>

        
    </ul>
</div>