@import "../../variables";

:host {
    width:100%;

    #projects-intro {
        @include flex-standard;
        width:100%;
        max-width:1192px;
        height:auto;
        margin:25px auto;

        .lft-wrppr {
            flex:1 0 50%;
            .header {
                h2 {
                    font-size:120%;
                    color:#444;
                    font-weight:500;

                    strong {
                        font-weight:700;
                        color:$brandblue;
                        margin-right:5px;
                    }
                }
            }

            .prjct_cnt {
                h3 {
                    font-size:100%;
                    font-weight:300;
                    color:#888;
                }
            }
        }

        .rght-wrppr {
            flex:1 0 50%;

            .time_cnt {
                text-align:right;
                color:#222;
                font-weight:600;
            }
        }
    }
    #list-projects {
        margin:50px auto;
        max-width:1192px;

        ul {
            @include flex-standard;
            list-style:none;
            justify-content:space-between;

            li {
                position:relative;
                display:flex;
                flex:0 0 33%;
                min-width:300px;
                min-height:180px;
                margin-bottom:3px;
                overflow:hidden;
            }

            li.actProject {
                border:1px solid #ccc;
                background:white;
                @include outershadow;
                overflow:visible;
                z-index:5;
            }
            
            li.actProject:hover {
                transform:scale(1.02);
                transition:0.25s;
                border:1px solid $brandblue;
            }

            li.nProject {
                /*@include innershadow;*/
                background:#efefef;
                transition:0.2s;
                z-index:3;

                button {
                    position:relative;
                    background:transparent;
                    border:none;
                    border-radius:0px;
                    display:block;
                    width:100%;
                    height:100%;

                    img {
                        @include absolute-center;
                        width:50px;
                        opacity:0.25;
                        z-index:1;
                    }
                    
                    a {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index:2;
                        margin:60px auto 10px auto;
                        color:#aaa;
                    }
                }

                button:after {
                    content:'';
                    @include absolute-center;
                    width:1px;
                    height:1px;
                    border-radius:1%;
                    border:1px solid #ccc;
                }
            }

            li.nProject:hover {
                transform:scale(0.96);
                @include innershadow;
                transition:0.3s;

                button {
                    img {
                        opacity:0.15;
                        transition:0.3s ease 0.4s;
                    }

                    a {
                        transform:translate(-50%,-50%) scale(1.1);
                        margin:55px auto 15px auto;
                        transition:0.6s ease 0s;
                    }
                }

                button:after {
                    border-radius:50%;
                    width:80px;
                    height:80px;
                    background:#dfdfdf;
                    transition:border-radius 0.3s ease 0.3s, height 0.2s ease 0.4s, width 0.2s ease 0.4s;
                }
            }

            li.bigRedButton {
                flex:1 0 100%;
                height:60px;
                min-height:0;
                margin:30px auto;
                border:1px solid #ccc;
                /*@include outershadow;*/
                transition:0.2s;
                z-index:3;

                button {
                    display:block;
                    width:100%;
                    height:100%;
                    padding:0;
                    border:none;
                    background:#ddd;
                    /*background:$brandorange;*/

                    a {
                        position:relative;
                        width:100%;
                        line-height:60px;
                        text-align:center;
                        padding:0;
                        color:#222;
                        opacity:0.4;
                        font-size:110%;
                        font-weight:700;
                    }

                    a:before {
                        content:'';
                        position:absolute;
                        width:30px;
                        height:30px;
                        top:-2px;
                        left:-50px;
                        opacity:0.45;
                        background:url("../../assets/img/fetch.png");
                        @include background-cover;
                    }
                }
            }

            li.bigRedButton:hover {
                transform:scale(1.01);
                transition:0.3s;

                button {
                    background:$brandblue;
                    border:2px solid $brandblue;
                    a {
                        color:whitesmoke;
                    }

                    a:before {
                        filter:invert(1);
                        opacity:0.85;
                    }
                }
            }
        }
    }
}