<div class="functionblock">
    <div class="dlbuttons btn-group">
        <button class="create dl" (click)="createPlanogram()"><p>Create New Planogram</p></button>
        <button class="csv dl" [ngClass]="{'disabled': !planogram}" (click)="downloadPlanogram()"><p>Download Planogram XLSX</p></button>
    </div>
    <div class="ftbuttons" id="sider">
        <div class="input-group">
            <app-planogram-upload [id]="id"></app-planogram-upload>
        </div>
    </div>
</div>
<div class="meta-info" *ngIf="planogram">
            <h3>Last Updated</h3>
            <p>{{planogram.updated.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) || '-'}}</p>
</div>
<table class="table table-sm" id="BOM">
    <thead class="thead-dark">
        <th (click)="addSort('Station', $event)" scope="col">Station</th>
        <th (click)="addSort('Wagon', $event)" scope="col">Wagon</th>
        <th (click)="addSort('Bin', $event)" scope="col">Bin</th>
        <th (click)="addSort('Location Count', $event)" scope="col">Location Count</th>
        <th (click)="addSort('Material', $event)" scope="col">Part#</th>
        <th (click)="addSort('Objektkurztext', $event)" scope="col">Part</th>
        <th (click)="addSort('ME', $event)" scope="col">Unit</th>
        <th (click)="addSort('Menge', $event)" scope="col">Quantity</th>
    </thead>
    <ng-container *ngIf="planogram">
        <ng-container *ngFor="let item of processedBom">
            <tr [ngClass]="{'not-on-bom': item.isNotOnBOM, 'not-on-pog': item.isNotOnPOG}">
              <td [ngStyle]="{'background': colors[item.Station]}" class="station">{{item.Station}}</td>
              <td class="wagon">
                  <ng-container *ngIf="item.Location.length > 0; else noPos">
                      <ul>
                          <li *ngFor="let pos of item.Location">{{pos[0]}}</li>
                      </ul>
                  </ng-container>
                  <!-- <ng-container *ngIf="item.Location.length > 0; else noPos"> {{item.Location}}</ng-container> -->
                  <ng-template #noPos>
                      -
                  </ng-template>
              </td>
              <td class="bin">
                  <ng-container *ngIf="item.Location.length > 0; else noPos">
                      <ul>
                          <li *ngFor="let pos of item.Location">{{pos[1]}}</li>
                      </ul>
                  </ng-container>
                  <!-- <ng-container *ngIf="item.Location.length > 0; else noPos"> {{item.Location}}</ng-container> -->
                  <ng-template #noPos>
                      -
                  </ng-template>
              </td>
              <td>{{item['Location Count']}}</td>
              <td>{{item.Material || item.Part}}</td>
              <td>{{item.Objektkurztext}}</td>
              <td>{{item.ME}}</td>
              <td>{{item.Menge | localeNumber}}</td>
            </tr>
          </ng-container> 
    </ng-container>   
</table>
