@import '../../variables';

@include mat-core();

:host {
    display:flex;
    width:100vw;
    max-width:1192px;
    flex-direction:row;
    flex-wrap:wrap;
    
    .functionblock {
        flex:1 0 100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-end;
        order:2;

        .dlbuttons {
            order:1;
            margin:0px auto 0px 0px;
        }

        .ftbuttons {
            order:3;
            margin:0px !important;
            padding:0px 10px;

            .disabled {
                pointer-events: none;
                opacity: 0.5;
                filter: grayscale(1.0);
            }
        }
    }

    .meta-info {
        flex:1 0 100%;
        order:1;
        text-align:right;

        h3 {
            font-size:90%;
            color:$brandblue;
        }

        p {
            font-size:80%;
            color:#aaa;
        }
    }

    #sider {
        display:block;
        height:70px;
        margin:5px 5px 5px 0;
        border:1px solid #222;

        &.borderless {
            border: none;
        }

        .button-grp {
            @include flex-standard;
            justify-content:flex-start;

            button {
                position:relative;
                flex: 0 0 24.5%;
                max-width:80px;
                margin:2.5px 0.25%;
                height:65px;
                font-size:70%;
                color:whitesmoke;
                background-color:$darkbrandblue;
                border:none;
                outline:none;
                mix-blend-mode: color;

                p {
                    position:absolute;
                    bottom:0;
                    left:0;
                    padding:3px;
                    margin:0;
                    opacity:0.75;
                    font-size:87%;
                }

                &.csv:after {
                    content:'';
                    @include absolute-full;
                    background:url("../../assets/img/csvdl2.png");
                    background-position:50% 20%;
                    background-size:30%;
                    background-repeat:no-repeat;
                    filter:invert(1);
                    opacity:0.25;
                    z-index:-1;
                }
            }
        }
    }

    button.dl {
        position:relative;
        width:80px;
        margin:2.5px 0.25%;
        height:65px;
        font-size:70%;
        color:whitesmoke;
        background-color:$darkbrandblue;
        border:none;
        outline:none;
        mix-blend-mode: color;

        p {
            position:absolute;
            bottom:0;
            left:0;
            padding:3px;
            margin:0;
            opacity:0.75;
            font-size:87%;
        }

        &.csv:after {
            content:'';
            @include absolute-full;
            background:url("../../assets/img/csvdl2.png");
            background-position:50% 20%;
            background-size:30%;
            background-repeat:no-repeat;
            filter:invert(1);
            opacity:0.25;
            z-index:-1;
        }
        &.create:after {
            content:'';
            @include absolute-full;
            background:url("../../assets/img/pls_fat.png");
            background-position:50% 20%;
            background-size:30%;
            background-repeat:no-repeat;
            filter:invert(1);
            opacity:0.25;
            z-index:-1;
        }

        &.disabled {
            background: $darkpaper;
            opacity: 0.7;
            cursor: default;
        }
    }

    #user_functions {
        position:relative;
        flex:1 0 100%;
        display:flex;
        flex-direction:row;
        order:3;
        margin:10px auto;
        padding:5px;
        background:whitesmoke;
        z-index:50;
        @include removeshadow;

        &.is-sticky {
            padding:15px;
            transform-origin: center;
            transition:0.3s;
            @include outershadow;

            #totopbutton {
                opacity:1;
                pointer-events:all;

                &:hover {
                    cursor:pointer;
                    transform:scale(1.01);
                    transition:0.3s;
                    transform-origin: center;
                }
            }
        }

        .filter {
            flex:0 0 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;

            input {
                flex:1 0 30%;
                width:250px;
                font-size:80%;
                color:#888;
                border:1px solid #444;
                opacity:0.3;
                margin:0px 3px;
                height:40px;
                line-height:40px;
                pointer-events:none;
                border-radius:0px;

                @include innershadow;

                &.active {
                    pointer-events: all;
                    opacity:1;
                }
            }

            .loopbutton {
                height:40px;
                width:40px;
                margin:0px 3px;
                background:$bboinverse;
                background-image:url('../../assets/img/magnifier.png');
                background-position:center;
                background-repeat: no-repeat;
                background-size:15px;
                filter:invert(1);
            }

            .marker {
                flex:0 0 25%;
                max-width:150px;
                margin:0px 3px;
                height:40px;
                line-height:40px;
                background:#222;
                color:whitesmoke;
                font-size:80%;
                text-align:center;
                @include outershadow;
            }
        }

        mat-paginator {
            flex:1 0 50%;
            order:3;
            height:40px;
            line-height:40px;
            margin-left:3px;
            box-sizing:border-box;

            ::ng-deep .mat-paginator-outer-container {
                height:40px !important;
                min-height:40px !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;

                ::ng-deep .mat-paginator-container {
                    height:40px !important;
                    min-height:40px !important;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;

                    ::ng-deep .mat-paginator-page-size {
                        height:40px !important;
                        min-height:40px !important;
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;

                        ::ng-deep .mat-paginator-page-size-select {
                            margin:0px 4px;
                        }
                    }
                }
            }
        }

        #totopbutton {
            opacity:0;
            pointer-events:none;
            padding:20px 0px;
            position:absolute;
            top:0;
            right:-48px;

            .inner {
            background:$dbbinverse;
            height:40px;
            width:40px;
            background-image:url('../../assets/img/arrowup.png');
            filter:invert(1);
            background-size:15px;
            background-position: center;
            background-repeat: no-repeat;
            }
        }
    }

    table {
        position:relative;
        flex:1 0 100%;
        order:3;

        thead, .mat-header-row {
            position:relative;
            padding:0px;
            margin:0px;
            height:40px;
            line-height:40px;
            border-bottom:2px solid #222;
            background:$darkpaper;

            th {
                position:sticky;
                text-align:center;
                padding:0px;
                vertical-align:middle;
                background:transparent;
                font-weight:400;
                color:whitesmoke;
                font-size:90%;
                z-index:1;
                @include removeshadow;

                ::ng-deep .mat-sort-header-container {
                    justify-content:center;
                }

                ::ng-deep .mat-sort-header-button {
                    justify-content:center;
                    width:100%;
                }
                
                &.is-sticky {
                    opacity:0.8;
                    @include outershadow;
                }

                &.filter:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.6;
                    z-index:-1;
                }

                &.filter2:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.35;
                    z-index:-1;
                }

                &.filter3:before {
                    content:'';
                    @include absolute-center;
                    width:80%;
                    height:80%;
                    border:1px solid whitesmoke;
                    background:$brandorange;
                    opacity:0.1;
                    z-index:-1; 
                }

                &.filter:after {
                    content: "1";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }

                &.filter2:after {
                    content: "2";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }

                &.filter3:after {
                    content: "3";
                    position: absolute;
                    top: 10%;
                    left: calc(100% - 8px);
                    width: 8px;
                    height: 8px;
                    line-height: 8px;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 50%;
                    background: whitesmoke;
                    color: #222;
                }
            }

        }

        tr {
            padding:5px 10px;
            border-bottom:2px solid #eee;
            background:#f8f8f8;
            text-align:center;
            &.not-on-bom {
                background: $yellowpaper;
            }
            &.not-on-pog {
                background: $redpaper;
                td {
                    color: whitesmoke;
                }
            }
            th {
                position:relative;
                span {
                    color:whitesmoke;
                    font-size:90%;
                    font-weight:400;
                }
            }
            td {
                height:30px;
                vertical-align: middle;

                &.mat-cell {
                    padding:0;
                    line-height:30px;

                    &:first-child {
                        color:whitesmoke;
                        background:darkgrey;
                    }
                }

                font-size:80%;
                font-weight:300;
                color:#444;
                &.blue {
                    color: $brandblue;
                }
                &.orange {
                    color: $brandorange;
                }
                &.grey {
                    color: #aaa;
                }
                &.station {
                    color:#ddd;
                }

                &.wagon, &.bin {
                    //padding:0;
                    ul {
                        list-style: none;
                        margin-bottom: 0;
                        li {
                            margin: 0;
                            padding: .3rem;
                            &:not(:last-child) {
                                border-bottom: 1px solid #ccc;
                            }
                            &:hover {
                                background: #444;
                                color: whitesmoke;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            &.movedFrom, &.movedTo {
                th {
                    background:$yellowpaper;
                    span {
                        strong {
                            display:block;
                            margin:3px auto;
                            padding:3px;
                            font-size:80%;
                            font-weight:300;
                            color:#222;
                            @include innershadow;
                        }
                    }
                }
            }

            &.modified {
                th {
                    background:$darkpaper;
                }
            }

            &.remain {
                th {
                    background:$brightbluepaper;
                }}
            &.removed {
                th {
                    background:$redpaper;
                }}
            &.added {
                th {
                    color:#222;
                    background:$greenpaper;
                }}

            &:hover {
                transform:scale(1.01);
                background:white;
                cursor:pointer;
                transition:0.1s;
            }
        }
    }
}