<div class="functionblock">
    <div class="dlbuttons btn-group">
        <button *ngIf="2 | role" class="create dl" (click)="createPlanogram()"><p>Create New Planogram</p></button>
        <button class="csv dl" [ngClass]="{'disabled': !planogram}" (click)="downloadPlanogram()"><p>Download Planogram XLSX</p></button>
    </div>
    <div class="ftbuttons" id="sider" *ngIf="2 | role">
        <div class="input-group">
            <app-planogram-upload [id]="id"></app-planogram-upload>
        </div>
    </div>
</div>
<div class="meta-info" *ngIf="planogram">
            <h3>Last Updated</h3>
            <p>{{planogram.updated.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) || '-'}}</p>
</div>

<!-- NEW TABLE -->

<div id="user_functions" stickyThing marginTop="0">
    <div class="filter">
        <input id="filter" class="active form-control wrt" type="text" placeholder="filter BOM table" matInput (change)="applyFilter($event.target.value)">
        <input id="filter2" class="form-control wrt" type="text" placeholder="apply 2nd filter" matInput (change)="applyFilterSnd($event.target.value)">
        <div class="loopbutton"></div>
        <div class="marker"><span>{{thisFilter}} | {{thisCount}}</span></div>
    </div>
    <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 50, 100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
    <div id="totopbutton"><div class="inner" (click)="scrollTop()"></div></div>
</div>

<table class="table table-sm" id="BOM" mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="Station" #boundaryStation>
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Station </th>
        <td [ngStyle]="{'background': colors[element.Station]}" mat-cell *matCellDef="let element" > {{element.Station}} </td>
    </ng-container>

    <ng-container matColumnDef="Location Wagon">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Wagon </th>
        <td  class="wagon" mat-cell *matCellDef="let element" >
            <ng-container *ngIf="element.Location; else noPos">
                <ul>
                    <li *ngFor="let pos of element.Location">{{pos[0]}}</li>
                </ul>
            </ng-container>
            <ng-template #noPos>
                -
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="Location Bin">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Bin-Location </th>
        <td class="bin" mat-cell *matCellDef="let element" >
            <ng-container *ngIf="element.Location; else noPos">
                <ul>
                    <li *ngFor="let pos of element.Location">{{pos[1]}}</li>
                </ul>
            </ng-container>
            <ng-template #noPos>
                -
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="Location Count">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Location Count </th>
        <td mat-cell *matCellDef="let element" > {{element['Location Count']}} </td>
    </ng-container>

    <ng-container matColumnDef="Material">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Part# </th>
        <td mat-cell *matCellDef="let element" > {{element.Part || element.Material}} </td>
    </ng-container>

    <ng-container matColumnDef="Objektkurztext">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Part </th>
        <td mat-cell *matCellDef="let element" > {{element.Objektkurztext}} </td>
    </ng-container>

    <ng-container matColumnDef="ME">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> ME </th>
        <td mat-cell *matCellDef="let element"> {{element.ME}} </td>
    </ng-container>

    <ng-container matColumnDef="Menge">
        <th class="thead-dark" mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.Menge | localeNumber}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'not-on-bom': row.isNotOnBOM, 'not-on-pog': row.isNotOnPOG}"></tr>

   
</table>

<!--OLD TABLE<table mat-table class="table table-sm" id="BOM">
    <thead class="thead-dark">
        <th (click)="addSort('Station', $event)" scope="col">Station</th>
        <th (click)="addSort('Wagon', $event)" scope="col">Wagon</th>
        <th (click)="addSort('Bin', $event)" scope="col">Bin</th>
        <th (click)="addSort('Location Count', $event)" scope="col">Location Count</th>
        <th (click)="addSort('Material', $event)" scope="col">Part#</th>
        <th (click)="addSort('Objektkurztext', $event)" scope="col">Part</th>
        <th (click)="addSort('ME', $event)" scope="col">Unit</th>
        <th (click)="addSort('Menge', $event)" scope="col">Quantity</th>
    </thead>
    <ng-container *ngIf="planogram">
        <ng-container *ngFor="let item of processedBom">
            <tr [ngClass]="{'not-on-bom': item.isNotOnBOM, 'not-on-pog': item.isNotOnPOG}">
              <td [ngStyle]="{'background': colors[item.Station]}" class="station">{{item.Station}}</td>
              <td class="wagon">
                  <ng-container *ngIf="item.Location.length > 0; else noPos">
                      <ul>
                          <li *ngFor="let pos of item.Location">{{pos[0]}}</li>
                      </ul>
                  </ng-container>
                  <ng-template #noPos>
                      -
                  </ng-template>
              </td>
              <td class="bin">
                  <ng-container *ngIf="item.Location.length > 0; else noPos">
                      <ul>
                          <li *ngFor="let pos of item.Location">{{pos[1]}}</li>
                      </ul>
                  </ng-container>
                  <
                  <ng-template #noPos>
                      -
                  </ng-template>
              </td>
              <td>{{item['Location Count']}}</td>
              <td>{{item.Material || item.Part}}</td>
              <td>{{item.Objektkurztext}}</td>
              <td>{{item.ME}}</td>
              <td>{{item.Menge | localeNumber}}</td>
            </tr>
          </ng-container> 
    </ng-container>   
</table>-->
