
<div class="functionblock">
    <div class="dlbuttons">
        <button class="csv dl" (click)="downloadRPN()"><p>Download RPN XLSX</p></button>
    </div>
    <div class="ftbuttons">
        <div class="input-group">
            <app-consumption-upload [id]="id"></app-consumption-upload>
        </div>
    </div>
    <div class="storage">
        <div class="input-group">
            <input type="number" min="1" step="1" value="26" (change)="setStorageVal($event)">
        </div>
    </div>
    <div class="viewbuttons">
        <button class="view" (click)="viewVal(weekly)">Week</button>
        <button class="view" (click)="viewVal(monthly)">Month</button>
        <button class="view" (click)="viewVal(annual)">Year</button>
        <button class="view" (click)="viewVal(bom)">BOM</button>
        <button class="view" (click)="viewVal(rpn)">RPN</button>
    </div>
</div>
<table class="table table-sm" id="RPN">
    <thead class="thead-dark">
        <th scope="col">Part #</th>
        <th scope="col">Description</th>
        <th *ngFor="let project of projects" scope="col">{{project}}</th>
        <th scope="col">Overall Need</th>
        <th scope="col">Min | Max</th>
        <th scope="col">Phase Out Date</th>
    </thead>
    <tr *ngFor="let part of rpn.parts">
        <td class="{{item}}">{{part.id}}</td>
        <td class="{{item}}">{{part.name}}</td>
        <td *ngFor="let project of projects" [id]="project">{{part[project]}}</td>
        <td>{{part.ovCount}}</td>
        <td>{{part.min}} | {{part.max}}</td>
        <td>{{part.phaseOutDate}}</td>
    </tr>
</table>