<div class="d-flex flex-column single-list">
        <label>{{master$ ? "BOM-List loaded:" : "BOM-List not found!"}}</label>
        <div class="btn-group">
            <button type="button" class="btn btn-primary label">ID</button>
            <button type="button" class="btn btn-outline-secondary btn-block">{{master$ ? master.id : "-"}}</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary label">Projects</button>
            <button type="button" class="btn btn-outline-secondary btn-block">{{master$ ? master.projects : "-"}}</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary label">Date</button>
            <button type="button" class="btn btn-outline-secondary btn-block">{{master$ ? master.date : "-"}}</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary label">Uploaded</button>
            <button type="button" class="btn btn-outline-secondary btn-block">{{master$ ? master.uploadDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) : "-"}}</button>
        </div>
        <div class="btn-group" #tabsPanel>
            <button *ngFor="let currentTab of tabs" class="btn {{currentTab === tab ? 'btn-primary' : 'btn-outline-primary'}}" (click)="selectTab($event, currentTab)">View {{currentTab}}</button>
        </div>
        <div class="btn-group">
            <div [ngSwitch]="tab">
                <ng-template [ngSwitchCase]="'MasterBOM'">
                    kommt noch
                </ng-template>
                <ng-template [ngSwitchCase]="'Comparison'">
                        <app-compare-orders [comparison]="master$.comparison ? master.comparison : null"></app-compare-orders>
                    </ng-template>
                <ng-template ngSwitchDefault>
                    <p>No Tab Selected.</p>
                </ng-template>
            </div>
        </div>
        <div class="input-group mb-3">
            <small class="form-text text-muted" *ngIf="!master$">The requested BOM-List is not available. Please check the Year and Month.</small>
        </div>
    </div>