@import "../../../variables";

:host {
    position:relative;
    width:100%;
    height:100%;

    .prjct {
        position:relative;
        width:calc(100% - 6px);
        height:calc(100% - 6px);
        margin:3px;

        .prjct_tpbr {
            position:relative;
            height:40px;
            background:$bluepaper;
            width:100%;

            .prjct_ttl {
                color:whitesmoke;
                line-height:40px;
                font-weight:400;
                margin-left:10px;
                transition:0.2s;
            }

            .prjct_sb_mn {
                position:absolute;
                top:5px;
                right:0px;
                height:30px;
                width:30px;

                img {
                    height:30px;
                    width:auto;
                    filter:invert(1);
                }

            }
        }

        .prjct_bdy {
            .prjct_bom {
                width:90%;
                height:30px;
                background:$lightgrey;
                border:1px solid #aaa;
                margin:10px auto 5px auto;
            }

            .prjct_vars {
                width:90%;
                height:30px;
                margin:5px auto;
                ul {
                    @include flex-standard;
                    justify-content:space-between;
                    list-style:none;

                    li {
                        @include flex-standard;
                        flex:0 0 49%;
                        .imgbx {
                            position:relative;
                            height:30px;
                            width:30px;
                            /*background-color:#444;*/
                        }
                        .field {
                            flex-basis:calc(100% - 60px);
                            height:30px;
                            line-height:30px;
                            border:1px solid #ddd;
                            @include innershadow;
                            text-align:center;
                            font-size:90%;
                            overflow:hidden;
                        }

                        .chg {
                            height:30px;
                            width:30px;
                            background:#444;

                            button {
                                width:100%;
                                height:100%;
                                background:url("../../../assets/img/chg.png");
                                filter:invert(1);
                                @include background-cover;
                                background-size:40%;
                                transition:0.2s;
                            }

                            button:hover {
                                background-size:35%;
                                transition:0.3s;
                            }
                        }
                        .txtbx {
                            flex:1 0 100%;
                            p {
                                margin-left:2.5%;
                                font-size:70%;
                                color:$darkbrandblue;
                            }
                        }
                    }
                    li.trains {
                        .imgbx:after {
                            content:'';
                            @include absolute-full;
                            opacity:0.5;
                            @include background-cover;
                            background-image:url("../../../assets/img/train.png");
                            background-size:50%;
                        }
                    }
                    li.date {
                        .imgbx:after {
                            content:'';
                            @include absolute-full;
                            opacity:0.5;
                            @include background-cover;
                            background-image:url("../../../assets/img/week.png");
                            background-size:60%;
                        }
                    }
                }
            }
        }
    }

    .prjct:hover {
        .prjct_tpbr {
            .prjct_ttl {
                transform:scale(1.02);
                margin-left:12px;
                transition:0.3s;
            }
        }
    }
}

