<div class="prjct" #ganzoben>
    <div class="prjct_tpbr" [ngClass]="{'mltBm': project$.multiBom > 0, 'snglBm' : project$.multiBom == 0}">
        <div class="prjct_ttl">
            <span>[ {{project$.tag}} ]</span>
            {{project$.name}}

            <ul *ngIf="project$.multiBom > 0">
                <li class="mltBmSw active" (click)="setSwitch('overview', $event)">Overview</li>
                <li class="mltBmSw" (click)="setSwitch('A', $event)">A</li>
                <li class="mltBmSw" *ngFor="let i of mltBmArray" (click)="setSwitch(i, $event)">{{i}}</li>
            </ul>
        </div>
        <div class="prjct_sb_mn">
            <div class="menu" (click)="createComponent()">
                <span></span><span></span><span></span>
            </div>
            <!--<img src="../../../assets/img/icn_mn.png">-->
            <div class="prjctsb hidden" #prjctsb></div>
        </div>
    </div>

    <div *ngIf="project$.multiBom == 0" class="prjct_bdy">
        <div class="prjct_bom">
            <select class="bomlists" [(ngModel)]="selectedSingleBom" (change)="targetSingleBom($event)">
                <option class="act-lst" *ngFor="let bom of bomList$" >{{bom}}</option>
            </select>
            <div class="btnbox">
                <button class="subbtn refresh" (click)="updateSingleBOM()"></button>
                <button class="subbtn meta" (click)="getSingleBOMMeta()"></button>
                <button class="subbtn delete" (click)="deleteSingleBOM()"></button>
            </div>
        </div>
        <div class="prjct_vars">
            <ul>
                <li class="trains">
                    <div class="imgbx"></div>
                    <div class="field">{{project$.trainsCount}}</div>
                    <div class="chg"><button (click)="updateProject()"></button></div>
                    <div class="txtbx"><p>trains pending</p></div>
                </li>
                <li class="date">
                    <div class="imgbx"></div>
                    <div class="field">{{totalDiff}}</div>
                    <div class="chg"><button (click)="updateProject()"></button></div>
                    <div class="txtbx"><p>weeks left</p></div>
                </li>

            </ul>
        </div>
        <div class="prjct_upl">
            <app-xls-loader [projectTag]="project$.tag" [suffix]="null"></app-xls-loader>
        </div>
        <div class="prjct_state">

        </div>
    </div>

    <div *ngIf="project$.multiBom > 0" class="mltBm_prjct_bdy">
        <ul>
            <li class="overview" *ngIf="tglSwitch === 'overview'">
                <div class="prjct_ovw">
                    <select class="bomlists">
                        <option class="act-lst" *ngFor="let bom of bomList$">{{bom}}</option>
                    </select>
                </div>
                <div class="prjct_bom">
                    <button class="mrgMltBm" (click)="mergeMultiBoms()">Merge Multi BOM Files</button>
                </div>

                <div class="prjct_vars">
                    <ul>
                        <li class="trains">
                            <div class="imgbx"></div>
                            <div class="field">{{project$.trainsCount}}</div>
                            <div class="chg" (click)="updateProject()"><button></button></div>
                            <div class="txtbx"><p>trains pending</p></div>
                        </li>
                        <li class="date">
                            <div class="imgbx"></div>
                            <div class="field">{{totalDiff}}</div>
                            <div class="chg" (click)="updateProject()"><button></button></div>
                            <div class="txtbx"><p>weeks left</p></div>
                        </li>

                    </ul>
                </div>
                <div class="prjct_info">
                </div>
            </li>
            <li class="mltBm_A" *ngIf="tglSwitch === 'A'">
                <div class="prjct_bom">
                    <select class="bomlists" (change)="selectMultiBoms($event, 0)">
                        <option class="act-lst" *ngFor="let bom of bomList$">{{bom}}</option>
                    </select>
                </div>
                <div class="prjct_upl">
                        <app-xls-loader [projectTag]="project$.tag" [suffix]="'A'"></app-xls-loader>
                </div>
               
            </li>
            <ng-container *ngFor="let i of mltBmArray; index as j; let last = last">
                <li *ngIf="tglSwitch === i"  [ngClass]="{mltBm_mid : true, mltBm_last: last }">
                        <div class="prjct_bom">
                            <select class="bomlists" (change)="selectMultiBoms($event, j + 1)">
                                <option class="act-lst" *ngFor="let bom of bomList$">{{bom}}</option>
                            </select>
                        </div>
                        <div class="prjct_upl">
                                <app-xls-loader [projectTag]="project$.tag" [suffix]="i"></app-xls-loader>
                        </div>
                        <div class="addMltBm">
                                <button class="decMltBmBtn" (click)="decreaseMultiBom()">Remove this BOM List</button>
                                <button class="addMltBmBtn" (click)="increaseMultiBom()">Add another BOM List</button>
                        </div>
                </li>
            </ng-container> 
        </ul>
    </div>

    <div class="prjct_switchbx">
        <!--Wofür war das?-->    
    </div>
</div>
