<div class="prjct" #ganzoben>
    <div class="prjct_tpbr">
        <div class="prjct_ttl">
            <span>[ {{project$.tag}} ]</span>
            {{project$.name}}
        </div>
        <div class="prjct_sb_mn">
            <div class="menu" (click)="createComponent()">
                <span></span><span></span><span></span>
            </div>
            <!--<img src="../../../assets/img/icn_mn.png">-->
            <div class="prjctsb hidden" #prjctsb></div>
        </div>
    </div>

    <div class="prjct_bdy">
        <div class="prjct_bom">
            <select class="bomlists">
                <option class="act-lst" *ngFor="let bom of bomList$">{{bom}}</option>
            </select>
        </div>
        <div class="prjct_vars">
            <ul>
                <li class="trains">
                    <div class="imgbx"></div>
                    <div class="field">{{project$.trainsCount}}</div>
                    <div class="chg"><button></button></div>
                    <div class="txtbx"><p>trains pending</p></div>
                </li>
                <li class="date">
                    <div class="imgbx"></div>
                    <div class="field">{{totalDiff}}</div>
                    <div class="chg"><button></button></div>
                    <div class="txtbx"><p>weeks left</p></div>
                </li>

            </ul>
        </div>
        <div class="prjct_upl">
                <app-xls-loader [projectTag]="project$.tag"></app-xls-loader>
        </div>
        <div class="prjct_state">

        </div>
    </div>
</div>
