@import "../../../variables";

:host {
    position:relative;
    width:100%;
    height:100%;
    overflow:visible;

    .prjct {
        position:relative;
        width:calc(100% - 6px);
        height:calc(100% - 6px);
        margin:3px;

        .prjct_tpbr {
            @include flex-standard;
            justify-content:flex-start;
            position:relative;
            height:40px;
            background:$bluepaper;
            width:100%;

            .prjct_ttl {
                color:whitesmoke;
                line-height:40px;
                font-weight:400;
                margin-left:10px;
                transition:0.2s;
            }

            .prjct_sb_mn {
                justify-self:flex-end;
                margin:5px 0px 5px auto;
                height:30px;
                width:30px;
                z-index:501;

                span {
                    display:block;
                    width:4px;
                    height:4px;
                    border-radius:50%;
                    background:white;
                    margin-top:4.5px;
                    margin-bottom:4.5px;
                    margin-left:13px;
                    margin-right:13px;
                }

                /*img {
                    height:30px;
                    width:auto;
                    filter:invert(1);
                }*/

                .prjctsb {
                    @include absolute-full;
                }

            }

            .prjct_sb_mn:hover {
                cursor:pointer;

                span:nth-child(odd) {
                    margin-left:11px;
                    transition:0.3s;
                }

                span:nth-child(even) {
                    margin-right:11px;
                    transition:0.3s;
                }
            }
        }

        .prjct_bdy {
            .prjct_bom {
                width:90%;
                height:30px;
                background:$lightgrey;
                border:1px solid #aaa;
                margin:10px auto 5px auto;

                select {
                    width:100%;
                    height:30px;
                    border:none;
                    text-align:center;
                    margin:auto;
                    font-size:80%;

                    .act-list {
                        width:80%;
                    }
                }
            }

            .prjct_vars {
                width:90%;
                height:30px;
                margin:5px auto;
                ul {
                    @include flex-standard;
                    justify-content:space-between;
                    list-style:none;

                    li {
                        @include flex-standard;
                        flex:0 0 49%;
                        .imgbx {
                            position:relative;
                            height:30px;
                            width:30px;
                            /*background-color:#444;*/
                        }
                        .field {
                            flex-basis:calc(100% - 60px);
                            height:30px;
                            line-height:30px;
                            border:1px solid #ddd;
                            @include innershadow;
                            text-align:center;
                            font-size:90%;
                            overflow:hidden;
                        }

                        .chg {
                            height:30px;
                            width:30px;
                            background:#444;

                            button {
                                width:100%;
                                height:100%;
                                background:url("../../../assets/img/chg.png");
                                filter:invert(1);
                                @include background-cover;
                                background-size:40%;
                                transition:0.2s;
                            }

                            button:hover {
                                background-size:35%;
                                transition:0.3s;
                            }
                        }
                        .txtbx {
                            flex:1 0 100%;
                            p {
                                margin-right: 1px;
                                margin-left: auto;
                                text-align: right;
                                font-size: 70%;
                                color: #003b69;
                            }
                        }
                    }
                    li.trains {
                        .imgbx:after {
                            content:'';
                            @include absolute-full;
                            opacity:0.5;
                            @include background-cover;
                            background-image:url("../../../assets/img/train.png");
                            background-size:50%;
                        }
                    }
                    li.date {
                        .imgbx:after {
                            content:'';
                            @include absolute-full;
                            opacity:0.5;
                            @include background-cover;
                            background-image:url("../../../assets/img/week.png");
                            background-size:60%;
                        }
                    }
                }
            }
        }
    }

    .prjct:hover {
        .prjct_tpbr {
            .prjct_ttl {
                transform:scale(1.02);
                margin-left:15px;
                transition:0.3s;
            }
        }
    }
}

