@import "../../variables";

:host {
    width:100%;
    margin:20px auto;
    
    .compare-list {
        display:flex !important;
        flex-direction:row !important;
        flex-wrap:wrap;

        .meta-info {
            flex:0 0 33%;
            overflow-x:hidden;
            margin-right:1%;
        }

        .comparison-container {
            flex:0 0 66%;
            overflow-x:hidden;
        }
    }
}