<div class="submenu">
    <div class="sb_hdr">
        <div class="ttl"><div class="tg">{{project$.tag}}</div><h2>{{project$.name}}</h2></div>
        <div class="edit"><img src="../../../assets/img/edit.png"></div>
        <div class="close"></div>
    </div>

    <div class="sb_bdy">
        <ul>
            <li>Multi BOM Project</li>
            <li>Exclude Project from current BOM</li>
            <li>Tue Noch Mehr</li>
            <li>Am besten Dynamisch</li>
        </ul>
    </div>
    <div class="del btn">
        <button>Delete Project</button>
    </div>
</div>

