<div class="dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Project Values</h5>
            <button type="button" class="close" (click)="close()">
            <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Project Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Vienna" #name (change)="update(name.value, trains.value, deadline.value)">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Trains</span>
                    </div>
                    <input type="number" class="form-control" value="0" name="train-count" id="train-count" #trains (change)="update(name.value, trains.value, deadline.value)">

                </div>
                <div class="input-group mb-3">
                        <div class="input-group-append">
                                <span class="input-group-text">Deadline</span>
                            </div>
                            <input type="date" class="form-control" value="" name="deadline" id="deadline" #deadline (change)="update(name.value, trains.value, deadline.value)">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="updateProjectValues()">Create</button>
        </div>
    </div>
</div>