<!-- Modal -->
<ng-container *ngIf="dialog">
    <div class="modal fade" 
    id="dialogCenter" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true" 
    data-target="#dialogCenter"
    [hidden]="isVisible">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{dialog.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        {{dialog.text}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dialog.option2 ? dialog.option2.function(dialog.option2.arg) : cancel()">{{dialog.option2 ? dialog.option2.text : 'Cancel'}}</button>
            <button type="button" class="btn btn-primary" (click)="dialog.option1.function(dialog.option1.arg)">{{dialog.option1.text}}</button>
        </div>
        </div>
    </div>
    </div>
</ng-container>
